<a href="https://colab.research.google.com/github/dongupak/Prime-Python/blob/master/jupyter-notebook/Ch04_%ED%95%A8%EC%88%98%EC%99%80_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **생능 출판사 "으뜸 파이썬"(1판) 교재 소스 코드**
# *4장 함수와 입출력*
---
* 출판사 : 생능 출판사( http://www.booksr.co.kr/ )
* 으뜸 파이썬 저자 : 박동규, 강영민 
* 소스코드 저장소 : https://github.com/dongupak/Prime-Python
* 저작권 : 본 주피터 노트북 코드는 자유롭게 배포가능하지만 위의 출판사, 저서, 저자표기와 함께 배포해 주십시오.
---

# 코드 4-1 : 별표 출력을 위한 함수 정의와 호출

## print_star_func.py

In [ ]:
def print_star():  # 별표 출력을 위한 함수 정의    
    print('************************')
    
print_star()       # 별표 출력을 위한 함수 호출

************************

# 코드 4-2 : 별표 출력을 위한 함수 정의와 반복 호출
## print_star_4.py

In [ ]:
def print_star():
    print('************************')
    
print_star() # 별표 출력함수 호출 1
print_star() # 별표 출력함수 호출 2
print_star() # 별표 출력함수 호출 3
print_star() # 별표 출력함수 호출 4

************************
************************
************************
************************

# 코드 4-3 : 3줄 별표 출력을 위한 함수 정의와 호출 방법
## print_star3.py

In [ ]:
def print_star3():    
    print('************************')    
    print('************************')    
    print('************************')
    
    
print_star3()  # 3줄의 별표가 출력됨
print_star3()  # 3줄의 별표가 출력됨
print_star3()  # 3줄의 별표가 출력됨

************************
************************
************************
************************
************************
************************
************************
************************
************************

# 코드 4-4 : 별표 출력을 위한 함수 정의와 호출 방법의 수정
## print_star_plus.py

In [ ]:
def print_star():  # 별표 기호를 한 줄 출력함
    print('************************')

def print_plus():  # 더하기 기호를 한 줄 출력함
    print('++++++++++++++++++++++++')

print_star()       # 별표 기호 출력
print_plus()       # 더하기 기호 출력
print_star()
print_plus()

************************
++++++++++++++++++++++++
************************
++++++++++++++++++++++++

In [ ]:
def print_star():    
    print('************************')
    
print_star() # 별표 출력 1 
print_star() # 별표 출력 2 
print_star() # 별표 출력 3 
print_star() # 별표 출력 4

************************
************************
************************
************************

# 코드 4-5 : 매개변수를 가진 별표 출력 함수와 인자를 이용한 호출
## print_star_param.py

In [ ]:
# 별표 출력을 매개변수 n번만큼 반복하는 프로그램
def print_star(n):
    for _ in range(n):        
        print('************************')
        
print_star(4) # 별표 출력을 위해 4라는 인자값을 준다

************************
************************
************************
************************

# Note : 루프변수 i 값 출력하기 - 다음 코드도 테스트해 보세요

In [ ]:
# 별표 출력을 매개변수 n번만큼 반복하는 프로그램
def print_star(n):
    for i in range(n):        
        print(i, '************************')
        
print_star(4) # 별표 출력을 위해 4라는 인자값을 준다

0 ************************
1 ************************
2 ************************
3 ************************

# 코드 4-6 : 매개 변수를 사용하여 지정된 문자를 인자 값만큼 반복 출력하기
## print_hello_n_times.py

In [ ]:
def print_hello(n):            # 매개변수를 이용한 반복 출력    
    print('Hello ' * n)
    
print('Hello를 두 번 출력합니다.')
print_hello(2)
print('Hello를 세 번 출력합니다.')
print_hello(3)
print('Hello를 네 번 출력합니다.')
print_hello(4)

Hello를 두 번 출력합니다.
Hello Hello
Hello를 세 번 출력합니다.
Hello Hello Hello
Hello를 네 번 출력합니다.
Hello Hello Hello Hello

# 코드 4-7 : 매개변수를 사용한 인자값의 합계
## sum_func.py

In [ ]:
def print_sum(a, b):              # 두 개의 매개변수를 가진 함수    
    result = a + b
    print(a, '과', b, '의 합은', result, '입니다.')
    
print_sum(10, 20)
print_sum(100, 200)

10 과 20 의 합은 30 입니다.
100 과 200 의 합은 300 입니다.

In [ ]:
def print_sum(a, b):    
    result = a + b
    print(a, '과', b, '의 합은', result, '입니다.')
    
print_sum(10) # 에러

TypeError: ignored

# 코드 4-8 : 2차 방정식의 근을 구하는 기능 
## root_ex1.py

In [ ]:
a = 1
b = 2
c = -8

# ( a * x^2 ) + ( b * x ) + c = 0
r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

print('해는', r1, '또는', r2)

해는 2.0 또는 -4.0

# 코드 4-9 : 2차 방정식의 근을 구하는 기능의 반복 사용
## root_ex2.py

In [ ]:
a = 1
b = 2
c = -8

#근의 공식으로 해를 한 번 더 구한다.(반복되는 코드)
r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

print('해는', r1, '또는', r2)
a = 2
b = -6
c = -8
#근의 공식으로 해를 한 번 더 구한다.(반복되는 코드)
r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

print('해는', r1, '또는', r2)

해는 2.0 또는 -4.0
해는 4.0 또는 -1.0

# 코드 4-10 : 2차 방정식의 근을 구하는 기능을 함수로 만들기 
## root_ex3.py

In [ ]:
def print_root(a, b, c):    
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)    
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)    
    print('해는', r1, '또는', r2)
    
# 계수값이 다른 2차 방정식의 해를 구함
print_root(1, 2, -8)
print_root(2, -6, -8)

해는 2.0 또는 -4.0
해는 4.0 또는 -1.0

# 코드 4-11 : 두 인자의 합을 반환하는 get_sum() 함수와 return 문의 사용1
## sum_with_return1.py

In [ ]:
def get_sum(a, b):       # 두 수의 합을 반환하는 함수
    result = a + b    
    return result        # return 문을 사용하여 result를 반환

n1 = get_sum(10, 20)
print('10과 20의 합 =', n1)

n2 = get_sum(100, 200)
print('100과 200의 합 =', n2)

10과 20의 합 = 30
100과 200의 합 = 300

# 코드 4-12 : 두 인자의 합을 반환하는 get_sum() 함수와 return 문의 사용2
## sum_with_return2.py

In [ ]:
def get_sum(a, b):
    return a + b

result = get_sum(100, 200)
print('두 수의 합', result)

두 수의 합 300

In [ ]:
# 아래의 코드 수행 결과는 위와 동일합니다.
def get_sum(a, b):    
    return a + b    
    
print('두 수의 합 =', get_sum(100, 200))

두 수의 합 = 300

# 코드 4-13 : 두 개의 값을 튜플로 반환하는 방법과 전달 받는 방법
## root_func.py

In [ ]:
def get_root(a, b, c):    
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)    
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)    
    return r1, r2

# 함수 호출시 인자를 상수 값을 사용함
# result1, result2를 이용해서 결과 값을 반환 받아온다
result1, result2 = get_root(1, 2, -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

# 코드 4-14 : 매개변수를 사용하지 않고 외부 변수를 사용하는 경우
## sum_func_global1.py

In [ ]:
def print_sum():
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다.')
    
a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다.')

print_sum() 내부 : 10 과 20 의 합은 30 입니다.
print_sum() 외부 : 10 과 20 의 합은 30 입니다.

# 코드 4-15 : 함수 외부에서 정의된 값을 함수 내부에서 변경하는 경우
## sum_func_global2.py

In [ ]:
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다.')
    
a = 10
b = 20
print_sum()

print_sum() 내부 : 100 과 200 의 합은 300 입니다.

# 코드 4-16 : 함수 내부에서 값을 변경하고, 그 값을 외부에서 확인하기
## sum_func_global3.py

In [ ]:
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다.')
    
a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 외부 : 10 과 20 의 합은 30 입니다.

# 코드 4-17 : global 키워드를 사용한 전역변수의 참조 방법
## sum_func_global4.py

In [ ]:
def print_sum():
    global a, b     # a, b는 함수외부에서 선언된 a, b를 사용한다.
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다.')
    
a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 외부 : 100 과 200 의 합은 300 입니다.

# 코드 4-18 : 인자를 빠뜨린 호출
## print_star_param_error.py

In [ ]:
def print_star(n):      # 인자를 하나 필요로 함
    for _ in range(n):
        print('************************')
        
print_star() # 인자가 없으므로 에러 발생

TypeError: ignored

# 코드 4-19 : 디폴트 값을 가지는 print_star() 함수
## print_default_param.py

In [ ]:
def print_star(n = 1):  # 매개변수 n은 디폴트 값 1을 가짐
    for _ in range(n):
        print('************************')
        
print_star() # 인자가 없더라도 에러 없이 수행됨

************************

In [ ]:
def print_star(n = 1):  # 디폴트 매개변수로 1을 가짐
    for _ in range(n):
        print('************************')
        
print_star(2)  # 인자 값이 2이므로 디폴트 매개변수 n = 1은 수행되지 않음

************************
************************

# 코드 4-20 : 디폴트 인자를 1개 사용한 div() 함수
## default_param1.py

In [ ]:
def div(a, b = 2):
    return a / b

print('div(4) =', div(4))
print('div(6, 3) =', div(6, 3))

div(4) = 2.0
div(6, 3) = 2.0

In [ ]:
def div(a = 2, b):
    return a / b

SyntaxError: ignored

# 코드 4-21 : 매개변수에 디폴트 값을 2개 사용한 div() 함수
## default_param2.py

In [ ]:
def div(a = 1, b = 2):
    return a / b

print('div() =',div())
print('div(4) =',div(4))
print('div(6, 3) =',div(6, 3))

div() = 0.5
div(4) = 2.0
div(6, 3) = 2.0

# 코드 4-22 : 2차 방정식의 근을 구하는 함수와 함수 호출문
## root_func.py

In [ ]:
def get_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2

# 함수 호출시 인자를 상수 값을 사용함.
# result1, result2를 이용해서 결과 값을 반환 받아온다.
result1, result2 = get_root(1, 2, -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [ ]:
result1, result2 = get_root(-8, 2, 1)
print('해는', result1, '또는', result2)

해는 -0.25 또는 0.5

In [ ]:
# 아래 세 코드 모두 a는 1, b는 2, c는 -8이라 결과는 동일함
result1, result2 = get_root(a = 1, b = 2, c = -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [ ]:
result1, result2 = get_root(a = 1, c = -8, b = 2)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [ ]:
result1, result2 = get_root(c = -8, b = 2, a = 1)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [ ]:
# 다음과 같이 할 경우 오류가 발생됨
result1, result2 = get_root(c = -8, b = 2, 1)
print('해는', result1, '또는', result2)

SyntaxError: ignored

In [ ]:
result1, result2 = get_root(c = -8, 2, 1)
print('해는', result1, '또는', result2)

SyntaxError: ignored

In [ ]:
result1, result2 = get_root(1, 2, c = -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [ ]:
result1, result2 = get_root(1, -8, b = 2)
print('해는', result1, '또는', result2)

TypeError: ignored

In [ ]:
def func(a, b, c) :
    print(a, b, c) 

func(1, 2, 3)

1 2 3

In [ ]:
func(1, c=2, b=3)

1 3 2

In [ ]:
 # 키워드 인자 b 다음에 위치 인자 3을 두면 안됨
 # 에러 발생
 func(1, b=2, 3)

SyntaxError: ignored

## 코드 4-23 : 직사각형과 원의 면적을 구하는 함수의 구현
### areas_of_shapes.py

In [ ]:
def func(shape, width=1, height=1, radius=1):
    if shape == 0 : # shape 값이 0이면 사각형의 면적을 반환
        return width * height
    if shape == 1 : # shape 값이 1이면 원의 면적을 반환
        return 3.14 * radius ** 2

print("rect area =", func(0, width=10, height=2))
print("circle area =", func(1, radius=5))

rect area = 20
circle area = 78.5

### 주의!!!

In [ ]:
print("rect area =", func(0, radius=5))

rect area = 1

# 코드 4-24 : 인자를 하나 가지는 함수
## arg_greet1.py

In [ ]:
def greet1(name):
    print('안녕하세요', name, '씨')
    
greet1('홍길동')

안녕하세요 홍길동 씨

# 코드 4-25 : 인자를 2개 가지는 함수
## arg_greet2.py

In [ ]:
def greet2(name1, name2):
    print('안녕하세요', name1, '씨')
    print('안녕하세요', name2, '씨')
    
greet2('홍길동','홍길순')

안녕하세요 홍길동 씨
안녕하세요 홍길순 씨

In [ ]:
def greet3(name1, name2, name3):
    print('안녕하세요', name1, '씨')
    print('안녕하세요', name2, '씨')
    print('안녕하세요', name3, '씨')
    
greet3('홍길동','홍길순','박동규')

안녕하세요 홍길동 씨
안녕하세요 홍길순 씨
안녕하세요 박동규 씨

# 코드 4-26 : 가변 인자를 가지는 함수의 정의와 호출
## arg_greet.py

In [ ]:
def greet(*names):
   for name in names:
       print('안녕하세요', name, '씨')
   
greet('홍길동', '양만춘', '이순신') # 인자가 3개
greet('James', 'Thomas') # 인자가 2개

안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨
안녕하세요 James 씨
안녕하세요 Thomas 씨

# 코드 4-27 : 가변 인자를 가지는 함수에서 len() 함수 활용
## arg_foo.py

In [ ]:
def foo(*args):
    print('인자의 개수:', len(args))
    print('인자들 :', args)
    
foo(10, 20, 30)

인자의 개수: 3
인자들 : (10, 20, 30)

# 코드 4-28 : 가변 인자를 가지는 함수를 이용한 합계 구하기
## arg_sum_nums.py

In [ ]:
def sum_nums(*numbers):
    result = 0
    for n in numbers:
        result += n
    return result

print(sum_nums(10, 20, 30))          # 10, 20, 30 인자들의 합을 출력
print(sum_nums(10, 20, 30, 40, 50))  # 10, 20, 30, 40, 50 인자들의 합을 출력

60
150

In [ ]:
# 위의 코드를 살짝 변경하여 인자의 갯수를 출력해 볼 수 있다.
def get_len(*numbers):
    print('{} 개의 인자'.format(len(numbers)))
 
get_len(10, 20, 30) # 인자들의 개수를 출력
get_len(10, 20, 30, 40, 50)

3 개의 인자
5 개의 인자

# 코드 4-29 : 재귀함수를 이용하여 정의한 팩토리얼
## factorial_recursion.py

In [ ]:
def factorial(n):    # n!의 재귀적 구현
    if n <= 1 :      # 종료조건이 반드시 필요하다
        return 1
    else :
        return n * factorial(n-1)     # n * (n-1)! 정의에 따른 구현
 
n = 5
print('{}! = {}'.format(n, factorial(n)))

5! = 120

# 코드 4-30 : 재귀함수를 이용하여 정의한 피보나치 수열
## fibonacci_recursion.py

In [ ]:
def fibonacci(n):      # 피보나치 함수의 재귀적 구현
   if n <= 1:          # 피보나치 함수의 종료조건
       return n  
   else:  
       return(fibonacci(n-1) + fibonacci(n-2))   # F_n = F_(n-1) + F_(n-2)

nterms = int(input("몇 개의 피보나치수를 원하세요? "))  

# 음수일 경우 피보나치 수를 구할 수 없음.
if nterms <= 0:  
   print("오류 : 양수를 입력하세요.")  
else:  
   print("Fibonacci 수열: ", end = '')  
   for i in range(nterms):  
       print(fibonacci(i), end=' ')

몇 개의 피보나치수를 원하세요? 10
Fibonacci 수열: 0 1 1 2 3 5 8 13 21 34

# 코드 4-31 : input 입력함수를 사용한 name의 입력 방법
## input_name1.py

In [ ]:
print('Enter your name : ')
name = input()    # 사용자의 키보드 입력 값을 name이 참조함
print('Hello', name, '!')

Enter your name :
Hong GilDong
Hello Hong GilDong !

# 코드 4-32 : 문자열을 이용한 input 입력함수의 사용법
## input_name2.py

In [ ]:
name = input('Enter your name : ')
print('Hello', name, '!')

Enter your name : Hong GilDong
Hello Hong GilDong !

In [ ]:
name = input('Enter your name : ')
print('Hello', name, '!')

Enter your name : 홍길동
Hello 홍길동 !

## 대화창 실습 : 정수형과 문자열형의 덧셈, 서로 다른 자료형의 덧셈

In [ ]:
100 + 1     # 정수의 덧셈

101

In [ ]:
'100' + '1' # 문자열의 덧셈

'1001'

In [ ]:
'100' + 1   # 문자열과 정수의 덧셈

TypeError: ignored

## 대화창 실습 : int 함수와 float 함수를 이용한 문자열의 변환

In [ ]:
int('100') + 1

101

In [ ]:
float('100') + 1

101.0

In [ ]:
'100' + str(1)

'1001'

## 대화창 실습 : 대화형 모드를 통한 input()과 int() 함수

In [ ]:
num1 = int(input("숫자를 입력하세요: "))

숫자를 입력하세요: 100

In [ ]:
num2 = int(input("숫자를 입력하세요: "))

숫자를 입력하세요: 200

In [ ]:
num3 = num1 + num2
print("두 수의 합은", num3, "입니다.")

두 수의 합은 300 입니다.

## 대화창 실습 : input() 함수와 공백 구분자를 사용한 split() 메소드

In [ ]:
s1, s2 = input('문자열 2개를 입력하세요: ').split()

문자열 2개를 입력하세요: Hello Python

In [ ]:
s1

'Hello'

In [ ]:
s2

'Python'

In [ ]:
'Hi|Changwon|National,University'.split('|')

['Hi', 'Changwon', 'National,University']

## 대화창 실습 : 공백 구분자를 사용한 input() 함수 실습

In [ ]:
num1, num2, num3 = input('세 정수를 입력하세요: ').split()

세 정수를 입력하세요: 100 200 300

In [ ]:
num1, num2, num3 = int(num1), int(num2), int(num3)

In [ ]:
num1, num2, num3

(100, 200, 300)

## 대화창 실습 : 쉼표 구분자를 이용한 input() 함수 실습

In [ ]:
num1, num2, num3 = input('세 정수를 ,로 구분하여 입력하세요: ').split(',')

세 정수를 ,로 구분하여 입력하세요: 100,200,300

In [ ]:
num1, num2, num3 = int(num1), int(num2), int(num3)

In [ ]:
num1, num2, num3

(100, 200, 300)

## 대화창 실습 : 여러가지 문자열 메소드

In [ ]:
'hello'.upper()

'HELLO'

In [ ]:
'HELLO'.lower()

'hello'

In [ ]:
'Guido Van Rossum'.split()

['Guido', 'Van', 'Rossum']

In [ ]:
'Apple,Banana,Orange'.split(',')

['Apple', 'Banana', 'Orange']

In [ ]:
'Apple|Banana|Orange|Kiwi'.split('|')

['Apple', 'Banana', 'Orange', 'Kiwi']

## 대화창 실습 : format() 메소드와 플레이스홀드

In [ ]:
'{} Python!'.format('Hello')

'Hello Python!'

In [ ]:
'{} Python!'.format('Hi')

'Hi Python!'

In [ ]:
'{0} Python!'.format('Hello')

'Hello Python!'

## 대화창 실습 : format() 메소드와 플레이스홀드의 인덱스

In [ ]:
'I like {} and {}'.format('Python', 'Java')

'I like Python and Java'

In [ ]:
 'I like {0} and {1}'.format('Python', 'Java')

'I like Python and Java'

In [ ]:
'I like {1} and {0}'.format('Python', 'Java')

'I like Java and Python'

## 대화창 실습 : format() 메소드와 플레이스홀드의 인덱스 사용법

In [ ]:
'{0}, {0}, {0}! Python'.format('Hello')

'Hello, Hello, Hello! Python'

In [ ]:
'{0}, {0}, {0}! Python'.format('Hello', 'Hi')

'Hello, Hello, Hello! Python'

In [ ]:
'{0} {1}, {0} {1}, {0} {1}!'.format('Hello', 'Python')

'Hello Python, Hello Python, Hello Python!'

In [ ]:
'{0} {1}, {0} {1}, {0} {1}!'.format(100, 200)

'100 200, 100 200, 100 200!'

## 대화창 실습 : 플레이스홀더 내의 객체 출력

In [ ]:
greet = 'Hello'
'{} World!'.format(greet)

'Hello World!'

# 코드 4-33 : 플레이스홀더와 format() 메소드의 사용
## print_format1.py

In [ ]:
name = 'Hong GilDong'
print('My Name is {}!'.format(name))

My Name is Hong GilDong!

# 코드 4-34 : 플레이스홀더와 format() 메소드의 사용 
## print_format2.py

In [ ]:
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')
            
print('당신의 이름은 {}, 나이는 {}살, 직업은 {}입니다.'.format(name, age, job))

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
당신의 이름은 김철수, 나이는 21살, 직업은 학생입니다.

## 대화창 실습 : 정수 표현을 위한 기본 포매팅

In [ ]:
for i in range(2, 15, 2):
    print('{0} {1} {2}'.format(i, i*i, i*i*i))

2 4 8
4 16 64
6 36 216
8 64 512
10 100 1000
12 144 1728
14 196 2744

## 대화창 실습 : 출력 간의 크기 지정을 통한 정수 포매팅

In [ ]:
for i in range(2, 15, 2):
    print('{0:3d} {1:4d} {2:5d}'.format(i, i*i, i*i*i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

## 대화창 실습 : 소수점 아래 자리수를 조절하는 실수 포매팅

In [ ]:
print('소수점 두 자리로 표현한 원주율 = {0:10.2f}'.format(3.1415926))

소수점 두 자리로 표현한 원주율 =       3.14

In [ ]:
print('소수점 세 자리로 표현한 원주율 = {0:10.3f}'.format(3.1415926))

소수점 세 자리로 표현한 원주율 =      3.142

In [ ]:
print('소수점 네 자리로 표현한 원주율 = {0:10.4f}'.format(3.1415926))

소수점 네 자리로 표현한 원주율 =     3.1416

## 대화창 실습 : 실수 표현을 위한 포매팅에서 소수점

In [ ]:
print('1/3은 {:.3f}'.format(1/3))   # 소수점 아래 출력만 지정

1/3은 0.333

## 대화창 실습 : 1000 단위 쉼표 출력방법

In [ ]:
print('{:,}'.format(1234567890))     # 1000단위 쉼표 출력

1,234,567,890

## 대화창 실습 : 플레이스홀더 내에 키-값 형식으로 인자를 전달하는 방법

In [ ]:
print('부산의 위도 : {0}, 경도: {1}'.format('35.17N', '129.07E'))

부산의 위도 : 35.17N, 경도: 129.07E

In [ ]:
print('부산의 위도 : {lat}, 경도: {long}'.format(lat='35.17N', long='129.07E'))

부산의 위도 : 35.17N, 경도: 129.07E

In [ ]:
print('부산의 위도 : {lat}, 경도: {long}'.format(long='129.07E', lat='35.17N'))

부산의 위도 : 35.17N, 경도: 129.07E

## 대화창 실습 : 문자열의 다양한 메소드

In [ ]:
'abc'.upper()          # 대문자로 만든다.

'ABC'

In [ ]:
'ABC'.lower()          # 소문자로 만든다.

'abc'

In [ ]:
'hobby'.count('h')     # 'h' 문자가 나타나는 횟수를 구한다.

1

In [ ]:
'hobby'.count('b')     # 'b' 문자가 나타나는 횟수를 구한다.

2

In [ ]:
'hobby'.find('h')     # 'h' 문자의 위치를 반환한다.

0

In [ ]:
'hobby'.find('b')     # 'b' 문자의 위치를 반환한다.

2

## 대화창 실습 : 문자열의 메소드 실습

In [ ]:
','.join('ABCD')

'A,B,C,D'

In [ ]:
'   hello   '.rstrip()       # 오른쪽 공백 지우기

'   hello'

In [ ]:
'   hello   '.lstrip()       # 왼쪽 공백 지우기

'hello   '

In [ ]:
'   hello   '.strip()        # 공백 지우기

'hello'

In [ ]:
s1 = 'Long live the King!'
s1.replace('King', 'Queen')  # 문자열 교환

'Long live the Queen!'

In [ ]:
s1.title()                   # 타이틀 문자열로 변환

'Long Live The King!'

In [ ]:
s1.capitalize()              # 첫 문자만 대문자로 변환

'Long live the king!'

In [ ]:
s2 = "X:Y:Z"
s2.split(':')                # :를 구분자로 하여 s2 문자를 리스트로 분리함

['X', 'Y', 'Z']

In [ ]:
'Hello ' + 'Python!'         # + 연산자를 이용하여 문자를 연결함

'Hello Python!'

## 대화창 실습 : 대화형 모드를 통한 여러 가지 내장함수 실습

In [ ]:
abs(-100)                # 절대값을 반환하는 함수

100

In [ ]:
min(200, 100, 300, 400)  # 여러 원소들 중 최솟값을 반환하는 함수

100

In [ ]:
max(200, 100, 300, 400)  # 여러 원소들 중 최댓값을 반환하는 함수

400

In [ ]:
str1 = "FOO"             # "Foo" 혹은 'FOO' 형식으로 문자열 객체를 생성함
len(str1)                # 문자열의 길이를 반환

3

In [ ]:
type(str1)               # 객체의 타입(형)을 반환

str

In [ ]:
id(str1)                 # 객체의 아이디 값을 반환

140168168956624

In [ ]:
eval("100+200+300")      # 문자열을 수치값과 연산자로 변환하여 평가

600

In [ ]:
sorted("EABFD")          # 문자열을 정렬

['A', 'B', 'D', 'E', 'F']

In [ ]:
list = [200, 100, 300, 400]
sorted(list)

[100, 200, 300, 400]

In [ ]:
sorted(list, reverse = True)

[400, 300, 200, 100]

## 대화창 실습 : 대화형 모드를 통한 id 함수 실습

In [ ]:
a_str = "Hello Python!"
id(a_str)

140168168655792

In [ ]:
n = 300
id(n)

140168168674288

In [ ]:
a_list = [100, 200, 300]
id(a_list)

140168168653640

## 대화창 실습 : 여러가지 자료형에 대한 type() 함수의 적용

In [ ]:
type(123)

int

In [ ]:
type('Hello String!')

str

In [ ]:
type(120.3)

float

In [ ]:
type([100, 300, 600])

list

## 대화창 실습 : 수식을 가진 문자열과 eval 함수

In [ ]:
eval('10 + 20')       # 10 + 20 문장을 파이썬 번역기가 수행함

30

In [ ]:
eval('(5 * 20) / 2')  # (5 * 20) / 2 문장을 파이썬 번역기가 수행함

50.0

In [ ]:
chr(65)               # 유니코드 값 65는 알파벳 'A'이며, chr() 함수는 이를 반환함

'A'

In [ ]:
ord('A')              # 알파벳 'A'의 유니코드 값 65를 반환함

65